:root {
  
font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;  
}
  
html{
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  margin: auto;
  max-width: 800px;
  padding: 20px 0;
  position: relative; 
}

.info-container {
  width: 72%;
  float: left;
  padding: 10px 25px 10px;
  margin-bottom: -25px;
  background-color: azure;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
}   

h2 {
  font-size: 1rem;
  font-weight: normal;
}

.container {
  width: 72%;
  float: left;
  padding: 10px 25px 20px;
}

.buttonOne,
.buttonTwo,
.buttonThree,
.buttonFour {
  border-radius:4px;
  text-decoration: none;
  font-size:16px;
  width: 72%;
  float: left;
  padding: 10px 25px 70px;
}

.buttonOne {
  background-color: #563d7c;
	color: papayawhip;
}

.buttonTwo {
	background-color:#563d7c26;
	color: #af86fc;
}  

.buttonThree {
  background-color: #563d7c0d;
	color: #af86fc;
}

.buttonFour {
  background-color: rgba(86,61,124,0.15);
	color: #af86fc;
}  
  
ul {
  list-style: none;
  margin-left: 1.3rem;
  padding: 0; 
}

ul, li {
  position: relative;
}

.reference {
  margin-top: 0;
  color: #af86fc; 
  width: 72%;
  float: left;
  padding: 5px 46px 5px;
}
  
.reference a {
  color: #af86fc; 
  text-decoration: none; 
  padding: 0 6px; 
  border-radius: 4px;
}

.reference a:hover {
  cursor: pointer; 
  background: #eef; 
  padding: 0 2px; 
  border-radius: 4px;
}
 
.line {
  width: 82%;
  float: left;
  padding: 
  border-top: 1.5px solid #F9DEEF; 
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

footer{
  color: #af86fc; 
  font-size: .75rem;
  width: 72%;
  float: left;
  padding: 5px 45px 10px;
}

footer a {
  text-decoration: none;
}

/*  Media styles           */  
@@media (max-width: 800px) {
  .container, .reference {
    flex: 100%;
  }
}

